p{
    margin-left: 660px;
    padding-top: 240px;
    z-index: 0;
}
main {
    height: 500px;
    width: 1350px;
    background-color: gray;
    margin-top: 100px;
    margin-left: 100px;
}

#div1 {
    height: 200px;
    width: 500px;
    margin-left: 270px;
    margin-top: -350px;
    background: orange;
    border-style: solid;
    border-color: rgb(119, 77, 0);
    pointer-events: none;
    position: relative;
    z-index: 1;
    transition: all 0.8s;

}

#div2 {
    background: orange;
    height: 200px;
    width: 500px;
    margin-left: 770px;
    margin-top: -204.6px;
    border-style: solid;
    border-color: rgb(119, 77, 0);

    pointer-events: none;
    position: relative;
    z-index: 1;
    transition: all 0.8s;


}
main:hover+ #div1{
    background-color: white;
    transform: translateX(-170px);
}
main:hover~ #div2{
    background-color: white;
    transform: translateX(170px);
}
button{
    background-color: black;
    color: white;
    border-color: orange;
    height: 40px;
    margin-left: 20px;
    width: 60px;
    border-style: solid;
    border-radius: 10px;
}
